---
---
<div class="bg-blue-900 text-white text-sm py-2 px-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex space-x-4">
      <div class="flex items-center">
        <span class="fas fa-phone-alt mr-2"></span>
        <span>+880 1711530373</span>
      </div>
      <div class="flex items-center">
        <span class="fas fa-envelope mr-2"></span>
        <span>info@hossainexim.com</span>
      </div>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-blue-300"><span class="fab fa-facebook-f"></span></a>
      <a href="#" class="hover:text-blue-300"><span class="fab fa-linkedin-in"></span></a>
      <a href="#" class="hover:text-blue-300"><span class="fab fa-twitter"></span></a>
    </div>
  </div>
</div>